body {
    font-family: 'Carrois Gothic', sans-serif;
}

header {
    text-align: center;
}

.candidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;
}

.candidate-tile {
    margin: auto;
    padding: 3%;
}
