body {
    font-family: 'Carrois Gothic', sans-serif;
}

header {
    text-align: center;
}

.candidates {
    margin: 5%;
}

.candidate-tile {
    margin: auto;
    padding: 3%;
}

button {
    font-size: 1em;
    cursor: pointer;
}
